body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
body body,
body div,
body dl,
body dt,
body dd,
body ul,
body li,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body pre,
body code,
body form,
body fieldset,
body input,
body textarea,
body p,
body blockquote,
body th,
body td {
  margin: 0;
  padding: 0;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body fieldset,
body img,
body abbr {
  border: 0;
}
body address,
body caption,
body cite,
body code,
body dfn,
body em,
body strong,
body th,
body var {
  font-style: normal;
  font-weight: normal;
}
body ul li {
  list-style: none;
}
body caption,
body th {
  text-align: left;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-size: 100%;
  font-weight: normal;
}
body sup {
  vertical-align: text-top;
}
body sub {
  vertical-align: text-bottom;
}
body input,
body textarea,
body select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
body legend {
  color: #000;
}
body article,
body aside,
body details,
body figcaption,
body figure,
body footer,
body header,
body hgroup,
body menu,
body nav,
body section,
body main {
  display: block;
}
body img {
  max-width: 100%;
}
.wrapper {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1170px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.header {
  background-color: #212121;
  color: white;
  padding: 6px 0;
}
.logo {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(18.75% - 20px);
  text-transform: uppercase;
}
.logo__img {
  float: right;
  padding: 2px 26px 0 0;
}
.logo__name {
  font-size: 19px;
  font-weight: 700;
}
.logo__subname {
  font-family: PT Sans;
  font-size: 7px;
  font-weight: 400;
  opacity: 0.56;
  letter-spacing: 0.8px;
  padding-top: 2px;
}
.menu {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(68.75% - 20px);
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}
.menu > ul > li {
  display: inline-block;
  padding-right: 26px;
}
.menu > ul > li:last-child > a {
  color: #81c784;
  padding-right: 0px;
}
.menu > ul > li > a {
  color: white;
  text-decoration: none;
  display: inline-block;
}
.phone {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(12.5% - 20px);
  font-size: 13px;
  font-weight: 300;
  align-self: center;
}
.banner {
  background: url(../img/banner__background.jpg);
  background-size: cover;
}
.banner__header {
  color: #81c784;
  font-size: 50px;
  font-weight: 700;
  font-family: Proxima Nova;
  padding: 156px 0 43px;
}
.banner__header > span {
  color: white;
}
.banner__text {
  color: white;
  width: 390px;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 300;
}
.banner__link {
  padding-bottom: 55px;
}
.banner__link > a {
  color: #81c784;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  padding-right: 10px;
}
.button {
  margin-bottom: 160px;
  background: transparent;
  border: 1px solid #81c784;
  color: #81c784;
  font-size: 15px;
  font-weight: 300;
  padding: 7px 60px 7px 14px;
  position: relative;
  cursor: pointer;
}
.button:before {
  content: '';
  position: absolute;
  top: 11px;
  right: 14px;
  width: 25px;
  height: 15px;
  background: url(../img/button__arrow.png) no-repeat;
}
.content {
  background-color: #efeff0;
  padding: 25px 0;
}
.content__colum-1 {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(37.5% - 20px);
}
.content__colum-2 {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(25% - 20px);
}
.content__colum-3 {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(37.5% - 20px);
}
.preview {
  background-color: white;
}
.preview__img {
  width: 100%;
}
.preview__wrap {
  padding: 20px 25px 34px;
}
.preview__wrap_col-3 {
  padding: 15px 25px 33px;
  margin-bottom: 18px;
}
.preview__wrap_col-3-bottom {
  padding: 15px 25px 33px;
  margin-bottom: 0px;
}
.preview__data {
  color: #9d9d9d;
  padding-bottom: 18px;
  font-size: 13px;
  font-weight: 300;
}
.preview__header {
  font-family: "Proxima Nova";
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 20px;
}
.preview__text {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  padding-bottom: 20px;
  line-height: 16px;
}
.preview__link {
  font-size: 15px;
  font-weight: 300;
  color: #81c784;
}
.preview__hashteg {
  float: right;
  color: #9d9d9d;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  padding-top: 2px;
}
.narrow-preview {
  position: relative;
  text-align: center;
  padding-top: 30px;
}
.narrow-preview_product {
  background-color: white;
  padding: 25px 20px;
  text-align: center;
}
.narrow-preview__background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.narrow-preview__text {
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  color: white;
  top: 205px;
  left: 45px;
}
.narrow-preview__header {
  position: relative;
  color: #333;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.narrow-preview__subtext {
  position: relative;
  color: #666;
  font-size: 15px;
  font-weight: 300;
}
.footer {
  background-color: #212121;
  color: #677381;
  padding: 50px 0;
  font-size: 14px;
}
.contact {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(43.75% - 20px);
}
.contact__phone {
  color: white;
  font-weight: 600;
  padding-bottom: 9px;
}
.contact__adress {
  padding-bottom: 25px;
  border-bottom: 1px solid;
  width: 82%;
}
.contact__name {
  padding-top: 11px;
}
.footer-menu {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(37.5% - 20px);
}
.footer-menu__header {
  color: white;
  font-weight: 600;
  padding-bottom: 9px;
}
.footer-menu__list li {
  display: block;
  width: 49%;
  float: left;
  padding-bottom: 12px;
}
.footer-menu__list li > a {
  color: #677381;
  text-decoration: none;
}
.footer-menu__list li:nth-last-child(1) {
  padding-bottom: 0px;
}
.footer-menu__list li:nth-last-child(2) {
  padding-bottom: 0px;
}
.copyright {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(18.75% - 20px);
  position: relative;
}
.copyright__autor {
  position: absolute;
  bottom: 0;
}
.copyright__link {
  color: #81c784;
  text-decoration: none;
}
