p:first-letter {
  color:red;
  font-weight: bold;
  font-size: 25px;
}
span {
	background-color:green;
	color:white;
	font-style: italic;
}

h2:first-of-type {
	color: orange;
}

h2 {
	color: blue;
}
ul + h2 + ul > ol:nth-of-type(1) {
  color:blue;
}
ol:nth-of-type(2) {
  color:red;
}

table {
	width: 400px;	
	text-align: center;
}
tr ~ tr ~ tr > td:first-child {
	color: orange;
	text-align: left;
}

tr ~ tr ~ tr td:nth-of-type(n+2) {
	background-color: green;
	color: white;
}
tr:nth-of-type(-n+2) {
    font-weight: bold;
}

ul > li {
	font-weight: bold;
}