/* =============================subscribe modal window============================== */

.amx-modal-dialog {
	text-align: center;
	padding-top: 90px;
	min-width:760px;
}

.amx-modal-title {
	color: #a22c27;
	font-size: 36px;
	font-family: Roboto slab;	
	padding: 75px 0 35px;
}
.amx-modal-body {
	font-size: 18px;
}
.amx-modal-button {
	margin: 50px 0;
	padding: 5px 35px;
}
.amx-modal-btn-close {
	padding: 20px 20px 0 0!important;
}
.amx-modale-email-error {
	border: 1px solid red;
}

@media only screen and (max-width : 767px) { 
	.amx-modal-dialog {
		text-align: center;		
		min-width: auto;				
	}
	.amx-modal-title {
		font-size: 40px;
		font-family: Roboto slab;	
		padding: 75px 0 35px;
	}
	.amx-modal-body {
		font-size: 20px;
		padding: 0 20px;
	}
	.amx-modal-button {
		margin: 50px 0;
		padding: 5px 55px;
		font-size: 20px;
	}

}

@media only screen and (max-width : 486px) { 
	.amx-modal-dialog {
		text-align: center;		
		min-width: auto;				
	}
	.amx-modal-title {
		font-size: 54px;
		font-family: Roboto slab;	
		padding: 75px 0 35px;
	}
	.amx-modal-body {
		font-size: 30px;
		padding: 0 20px;
	}
	.amx-modal-button {
		margin: 50px 0;
		padding: 5px 55px;
		font-size: 30px;
	}

}

/* =============================united hand made modal window============================== */

.js-amx-modal-form {
	max-width: 600px; 
	height: 220px; /* Рaзмеры дoлжны быть фиксирoвaны */		
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /*  oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: block; /*!!!!none в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 1; /*!!!! 0 пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 6; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */	
}
.js-amx-modal-form_testimonials {
	width: 760px;
	height: 539px; /* Рaзмеры дoлжны быть фиксирoвaны */
	margin-top: -180px;
	margin-left: -270px; /* oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */	
}
.js-amx-modal-form_thanks {
	width: 760px;
	height: 306px; /* Рaзмеры дoлжны быть фиксирoвaны */
	margin-top: -180px;
	margin-left: -270px; /* oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */	
	background-color: white;
	text-align: center;
}
.js-amx-modal-form_product-testimonials {
	width: 760px;
	height: 700px; /* Рaзмеры дoлжны быть фиксирoвaны */
	margin-top: -345px;
	margin-left: -270px; /* oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */	
	background-color: white;
}
.amx-modal__header {
	background: #580101;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 17px 15px 17px 44px; 	
}
.amx-modal__header_h4 {
	color:white;
	font-family: Roboto slab;	
	font-weight: 700;
	line-height: 0;
}
.js-amx-modal__header_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 18px;
	right: 20px;
	cursor: pointer;
	display: block;
	color:white;
	font-size: 20px;
}
.js-amx-modal__header_close_black {
	color:gray;
}
.amx-modal__title {
	color: #a22c27;
	font-size: 36px;
	font-family: Roboto slab;	
	padding: 75px 0 35px;
}
.amx-modal__title_product-testimonials {
	font-size: 36px;
	font-family: Roboto slab;	
	padding: 50px 0 50px;	
	text-align: center;
}
.amx-modal__content {
	padding: 30px 30px 0;
	background: #fff;
}
.amx-modal__content_product-testimonials {
	padding: 0 50px;
}
.amx-modal__content_product-testimonials > div {
	padding-bottom: 20px;
}
.amx-modal__content_thanks {
	padding: 0;
	font-size: 20px;
}
.amx-modal__content_testimonials > div {
	padding-bottom: 20px;
}
.amx-modal__content_testimonials {
	padding: 50px 50px 0;	
}
.amx-modal__inpt {
	background: #fff;
	border:1px solid #e6e6e6;
	height: 30px;
	width: 440px;
	margin-left: 20px;
}
.amx-modal__inpt_name {
	margin-left: 30px;
}
.amx-modal__inpt_email {

}
.amx-modal__inpt_textarea {
	margin: 10px 0 0;	
	width: 498px;
	height: 90px;
	resize: none;
}
.amx-modal__button {
	text-align: center;	
	padding: 15px 0 25px;
}
.amx-modal__button_thanks {	
	padding: 50px 50px;
}
.amx-modal__button_field {
	padding: 5px 40px;
	font-size: 14px;
}
.amx-modal__star-container {
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.amx-modal__star{
	cursor:pointer;
	color:grey;
}
.amx-modal__star-parametrs > div > span {
	display: inline-block;
	padding:10px 0 0 10px;
	font-family: Roboto slab;
	font-weight: 600;
}
.amx-modal__star-parametrs {
	font-size: 15px;
}
.amx-modal__star_on {
	color:gold;
}

.amx-modal__text {
	color: grey;
	text-align: center;
	font-size: 18px;
}
.amx-modal__figure {
	color:lightgrey;
	font-size: 150px;
	line-height: 100%;
	font-weight: 100;
	padding: 10px 30px; 
}
#js-amx-overlay {
	z-index:5; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:block; /* в oбычнoм сoстoянии её нет) */	
}