

.number-plus-minus .jq-number {
	padding: 0 38px;
}
.number-plus-minus .jq-number__field {
	width: 60px;
}
.number-plus-minus .jq-number__field input {
	text-align: center;
}
.number-plus-minus .jq-number__spin {
	left: 0;
	height: 32px;
}
.number-plus-minus .jq-number__spin.plus {
	right: 0;
	left: auto;
}
.number-plus-minus .jq-number__spin:before {
	content: '';
	position: absolute;
	top: 15px;
	left: 10px;
	width: 12px;
	height: 2px;
	border: none;
	background: #666;
}
.number-plus-minus .jq-number__spin.minus:after {
	display: none;
}
.number-plus-minus .jq-number__spin.plus:after {
	top: 10px;
	left: 15px;
	width: 2px;
	height: 12px;
	border: none;
	background: #666;
}
.number-plus-minus .jq-number__spin:hover:before,
.number-plus-minus .jq-number__spin.plus:hover:after {
	background: #000;
}

